* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #778899;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: darkslategray;
}

.white {
  background-color: burlywood;
}

.selected {
  background-color: #882626;
  opacity: 90%;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}

.lost {
  height: calc(100vh - 64px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lost_section {
  height: calc(100vh / 2);
}
